.article {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 25px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  height: 230px;
  margin-bottom: 30px;
  overflow: hidden;
}

.imageWrapper img {
  object-fit: cover;
  transition: all .3s;
}

.content,
.headline {
  padding: 0 var(--spacing-default);
}

@media screen and (min-width: 680px) {
  .article {
    flex: 1 1 0;
    width: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .article:hover img {
    transform: scale(1.1);
  }

  .article img {
    width: 100%;
    height: auto;
  }

  .imageWrapper {
    height: 130px;
  }

  .article .headline {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
    min-height: 65px;
  }
}