.slider {
  width: 100%;
  position: relative;
  color: var(--foreground);
  padding: 30px 0;
}

.slider::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--separator-bg);
  top: 0;
  right: -50%;
  bottom: 0;
  left: -50%;
}

@media screen and (min-width: 980px) {
  .headline {
    text-align: center;
  }
}