.slider {
  width: 100%;
  position: relative;
  color: var(--foreground);
}

.slider::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--separator-bg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.headline {
 padding: 0 20px;
}

@media screen and (min-width: 980px) {
  .headline {
    text-align: center;
  }

  .slider::after {
    right: -1600px;
    left: -1600px;
  }
}