.hero {
  padding: 1em 0;
  margin-bottom: 60px;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--highlight-bg);
  top: 0;
  right: -5%;
  bottom: -22px;
  left: -5%;
  transform: skew(1deg, 5deg);
}

.logo {
  width: 100%;
  max-width: 180px;
  max-height: 180px;
  margin: 0 auto;
  display: block;
}

.hero .content {
  padding: 20px;
}

.headline {
  margin-bottom: 30px;
}

@media screen and (min-width: 980px) {
  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

  }

  .hero::after {
    top: -20%;
    right: -50%;
    bottom: -22px;
    left: -50%;
    transform: skew(0, -2deg);
  }

  .logo {
    max-width: 360px;
    max-height: inherit;
    transform: scale(1);
    animation-name: rotate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }

  .hero .content {
    width: 50%;
    margin-right: auto;
  }
}

@keyframes rotate {
  from {
    transform: scale(1);
  }

  85% {
    transform: scale(1);
  }

  95% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}