.container {
  padding: 30px 20px;
  position: relative;
}

.container::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--callout-background);
  background-image: var(--CalculatorImg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container.male::before {
  background-image: var(--CalculatorImgMale);
}

.container.female::before {
  background-image: var(--CalculatorImgFemale);
}

.calculator {
  margin: 0 auto;
  padding: 30px 15px;
  background: rgba(255, 255, 255, .8);
  border-radius: 25px;
}

.headline {
  margin-bottom: 15px;
}

.label {
  display: inline-block;
  width: 35%;
  margin-right: 5%;
}

.input {
  width: 60%;
  display: inline-block;
  border: 1px solid var(--callout-background);
  padding: 1rem 1.3rem;
  margin: 0 0 15px;
  text-decoration: none;
  border-radius: 5px;
  background-color: white;
}

.fieldset {
  margin-bottom: var(--spacing-default);
  border: 0;
}

.error {
  color: red;
}

.hide {
  display: none;
}

/* Buttons styles start */
.btnWrapper {
  display: flex;
  justify-content: space-between;
  column-gap: var(--spacing-default);
}

.result {
  margin-top: var(--spacing-xl);
}

/* Buttons styles end */

@media screen and (min-width: 980px) {

  .container::before {
    left: -1600px;
    right: -1600px;
    background-size: auto 100%;
    background-repeat: repeat;
  }

  .calculator {
    padding: var(--spacing-xl);
    max-width: 560px;
  }

  .input {
    margin: 0 0 var(--spacing-xl);
  }
}