:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --page-background: url('https://fastly.picsum.photos/id/120/4928/3264.jpg?hmac=i-8mkfKj_gRyQt9ZJVhbIBXbtIBNcsbI_gwNe_39vus');

  --foreground: #eae9e9;
  --background: #333;
  --highlight-bg: #00ffff;
  --separator-bg: #d0ffff;

  --callout-rgb: 20, 20, 20;
  --callout-border-rgb: 108, 108, 108;
  --callout-background: #a68837;
  --callout-hover-background: #796a3d;
  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
  line-height: 1.4em;
}

body {
  color: var(--foreground);
  background: var( --background);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Spacings */
.margin-default-bottom {
  margin-bottom: 15px;
}

.margin-l-bottom {
  margin-bottom: 30px;
}

.margin-xl-bottom {
  margin-bottom: 60px;
}

/* set sliderArrows outside slider*/
#__next .react-multi-carousel-list {
  position: unset;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--left,
.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  top: 220px;
}

.react-multi-carousel-list .react-multiple-carousel__arrow--right {
  right: calc(-2% + 1px);
}

.react-multi-carousel-list .react-multiple-carousel__arrow--left {
  left: calc(-2% + 1px);
}

@media screen and (min-width: 768px) {
  .react-multi-carousel-list .react-multiple-carousel__arrow--right {
    right: calc(-7% + 1px);
    top: inherit;
  }
  
  .react-multi-carousel-list .react-multiple-carousel__arrow--left {
    left: calc(-7% + 1px);
    top: inherit;
  }
}
